// COLORS VARIABLES

// BASIC
$basic-background: #545969;
$basic-grey-dark: #545969;
$basic-black: #000000;
$basic-white: #ffffff;
$basic-grey: #d8dcea;
$basic-blue: #0069d9;

// MAX-WIDTH:
// Малые девайсы («ландшафтные телефоны», < 576px)
$media-breakpoint-xs: 575.98px;
// Средние девайсы («таблетки», < 768px)
$media-breakpoint-sm: 767.98px;
// Большие девайсы (десктопы, < 992px)
$media-breakpoint-md: 991.98px;
// Экстрабольшие девайсы (большие десктопы, < 1200px)
$media-breakpoint-lg: 1199.98px;
